/*  google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* offline font */
@font-face {
  font-family: "Grifterbold";
  src: url("./assets/fonts/grifterbold.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Grifterbold", sans-serif;
}

body {
  background-color: #150725;
}

/* gradients */
.bg-button-gradient {
  border-radius: 8px 8px 18px 18px;
  background: linear-gradient(
    78deg,
    #fbfbfb -48.4%,
    #80f 198.45%,
    #80f 198.45%
  );
}

.bg-mobilenav-gradient {
  background: linear-gradient(
    144.39deg,
    #08ddfa -278.56%,
    #5704a0 -78.47%,
    #150725 91.61%
  );
}
